.formExtended {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;
    border: none;
}

.list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.itemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.authorInfo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.item {
    padding: 1rem;
    border: 2px solid transparent;
    border-left: 3px solid var(--primary-color) !important;
    background-color: var(--light-gray);
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    transition: border-width 0.1s ease-in-out;
}

.item:hover {
    background: none;
    border: 2px solid var(--border-color);
    border-left: 6px solid var(--primary-color) !important;

}

.author {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--text-color);
    text-decoration: none;
}

.author:hover {
    text-decoration: underline;
}

.deleteButton {
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

.deleteButton:hover {
    color: red;
    background-color: var(--light-gray);
}

.body {
    line-height: 1.5;
    word-wrap: break-word;
    margin-bottom: 0.5rem;
}

.date {
    display: block;
    font-size: 0.75rem;
    color: var(--gray);
    text-align: right;
}
