.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    background: none;
    transform: translateY(2px);
    padding: 1rem;
}

.button:hover {
    background: var(--light-gray);
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.minusIcon {
    display: none;
}

.unfollow:hover {
    color: red;
}

.unfollow:hover .checkIcon {
    display: none;
}

.unfollow:hover .minusIcon {
    display: block; 
}