.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    background: none;
    transform: translateY(2px);
}

/* .follow {
    
}

.unfollow {

} */

.minusIcon {
    display: none;
    
}

.unfollow:hover {
    color: red;
}

.unfollow:hover .checkIcon {
    display: none;
}

.unfollow:hover .minusIcon {
    display: block; 
}