.header {
  background: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-color);
  width: 90%;
  margin: 0 auto;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navLinks {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navItem {
  color: var(--text-color);
  text-decoration: none;
  padding: 1rem;
  margin-bottom: -1px;
  background: transparent;
  border: none;  
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  font-family: inherit;
}

.active {
  border-bottom: 4px solid var(--border-color) !important;
  font-weight: bold;
}

.navItem:hover {
  background-color: var(--light-gray);
  border-color: var(--gray) !important;
  border-radius: 6px;
  transform: translateY(-1px);
}

.title {
  margin: 1rem 0;
  font-size: 2.0rem;
  color: var(--text-color);
}
