name: Tests (placeholder)

on:
    push:
        branches: [ main, master ]
    pull_request:
        branches: [ main, master ]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Placeholder
              run: |
                echo "No unit tests to run..."
                exit 0
